$shadow:  0px 0px 10px 0px rgba(0,0,0,0.75);
$red: #fd0808fa;
$bordar:1px solid #f1f1f1;
$font-family: 'Roboto', sans-serif;


.card {
	width: 18rem;
	height: 20rem;
	background-color: #bac7ca;
	border-radius: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin: 0 0 20px 0;
	
}
.header {
	text-indent: 10%;
}
.content {
	text-indent: 10%;
}
.countiuation {
	margin: 0 0 30px 0;
	box-shadow: $shadow;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 18rem;
	background-color: #bac7ca;
	border-radius: 20px;

	button {
		width: 10vw;
		height: 10%;
		margin-bottom: 5px;
		border-radius: 5px;
		border: none;
		padding: 10px;
		font-size: 1.2em;
		font-family: $font-family;
		font-weight: bold;
		color: #050505;
		margin-right: 15px;
		background-color: #c60606;
	}
	button:hover {
		background-color: #f1f1f1;
		color: #050505;
	}

	select {
		width: 16rem;
		height: 10%;
		margin: 15px;

		border-radius: 5px;
		border: $bordar;
		padding: 10px;
		font-size: 1.2em;
		font-family: $font-family;
		font-weight: bold;
		color: #050505;
	}
}

/*  porjects and admin card  */