/** @format */

.upper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #f1f1f1;
	background-color: #394d58;
	width: 100%;
	height: 5vh;
}
.lower {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #f1f1f1;
	background-color: #dad8d8;
	width: 100%;
	height: 20vh;
	img {
		width: 10%;
        margin-right: 250px;
        margin-left: 20px;
	}
}
